[Unit]
Description=A lightweight Wayland notification daemon
Documentation=man:mako(1)

[Service]
Type=dbus
ExecStart=/usr/bin/mako
ExecReload=/usr/bin/makoctl reload
BusName=org.freedesktop.Notifications
Restart=always

[Install]
WantedBy=default.target
