[Unit]
BindsTo=sway-session.target

[Service]
Type=simple
Restart=always
Environment=PROHIBIT_TERM_TITLE=true
Environment=PopUp=true
ExecStart=/usr/bin/alacritty --title=PopUp

[Install]
WantedBy=sway-session.target
