[Unit]
Description=PopUp Terminal

[Service]
Environment=PopUp=True
ExecStart=/usr/bin/alacritty --class PopUp --title PopUp --command /usr/bin/zsh
Restart=always
RestartSec=0
TimeoutStopSec=10

[Install]
WantedBy=default.target
