[Unit]
BindsTo=sway-session.target

[Service]
Type=simple
Restart=always
Environment=PROHIBIT_TERM_TITLE=true
Environment=SHLVL=0
#Environment=https_proxy=http://proxy.telia.dk:8080/
#Environment=http_proxy=http://proxy.telia.dk:8080/
Environment=PopUp=true
EnvironmentFile=-/home/tb/.config/sway/env
ExecStart=/usr/bin/alacritty --title=PopUp

[Install]
WantedBy=sway-session.target
