[Unit]
BindsTo=lock.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1ms
ExecStartPre=-/usr/bin/sh -c 'echo "{ \\"command\\": [\\"set_property\\", \\"pause\\", true] }" | socat - /tmp/mpvsocket'
ExecStartPre=-/usr/bin/playerctl pause
ExecStartPre=-/usr/bin/light -O
ExecStartPre=-/usr/bin/gdbus call --system --dest org.freedesktop.login1 --object-path /org/freedesktop/login1/session/auto --method org.freedesktop.login1.Session.SetLockedHint true
ExecStartPre=-/usr/bin/swaymsg -q -- bar one workspace_buttons no, mode 
ExecStart=/usr/bin/swaylock
ExecStopPost=-/usr/bin/swaymsg -q -- mode default, bar one workspace_buttons yes
ExecStopPost=-/usr/bin/gdbus call --system --dest org.freedesktop.login1 --object-path /org/freedesktop/login1/session/auto --method org.freedesktop.login1.Session.SetLockedHint false
ExecStopPost=-/usr/bin/gdbus call --system --dest org.freedesktop.login1 --object-path /org/freedesktop/login1/session/auto --method org.freedesktop.login1.Session.SetIdleHint false
ExecStopPost=-/usr/bin/systemctl --user stop lock.target

[Install]
WantedBy=lock.target
