[Unit]
BindsTo=sway-session.target

[Service]
Type=simple
Restart=always
TimeoutStopSec=1
ExecStart=sway_performance_helper.py

[Install]
WantedBy=sway-session.target
