[Unit]
BindsTo=battery.target

[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/sh -c '! grep -q ^connected /sys/class/drm/{card0-DP-1,card0-DP-2,card0-HDMI-A-1}/status && swaymsg output eDP-1 enable, output eDP-1 dpms on'
ExecStart=/usr/bin/swayidle \
    timeout 120 'light -O && light -T 0.2' \
        resume 'light -I' \
    timeout 150 '! grep -q ^connected /sys/class/drm/{card0-DP-1,card0-DP-2,card0-HDMI-A-1}/status && /usr/bin/systemctl --user start lock.target' \
    timeout 180 '! grep -q ^connected /sys/class/drm/{card0-DP-1,card0-DP-2,card0-HDMI-A-1}/status && /usr/bin/systemctl suspend'

ExecStopPost=-/usr/bin/sh -c '! grep -q ^connected /sys/class/drm/{card0-DP-1,card0-DP-2,card0-HDMI-A-1}/status && swaymsg output eDP-1 enable, output eDP-1 dpms on'

[Install]
WantedBy=battery.target
