window {
    background: @theme_base_color;
    border: 2px solid @unfocused_borders;
    font-weight: 500;
    color: mix(@theme_text_color, @theme_base_color, 0.25);
    font-size: 12pt;
}

#input {
    background: @theme_bg_color;
    margin-bottom: 8px;
}

#outer-box {
    margin: 12px;
}

#text {
    margin-right: 100px;
    margin-left: 10px;
}

#entry {
    min-height: 29px;
    margin: 0px;
    padding: 0px;
}

